@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show position-fixed end-0 top-0 m-3" role="alert" style="width: 350px;">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show position-fixed end-0 top-0 m-3" role="alert" style="width: 500px;">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
