@model Category

<form method="post">
    <div class="border p-3 mt-3">
        <div class="row pb-2 mt-4">
            <h2 class="text-primary">Create Category</h2>@* form-control sınıfı, Bootstrap'te genellikle form öğelerini (input, select, textarea gibi) düzenlemek için kullanılır. Bu sınıf form öğelerine standart bir stil ekleyerek, tüm form elemanlarının uyumlu ve tutarlı bir şekilde görünmesini sağlar. *@
            <hr />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" type="text" class="form-control" />@* asp-for="Name" => ASP.NET Core'da Tag Helper özelliğidir. asp-for özelliği, modeldeki bir özelliğe bağlanmayı sağlar. Amaç: asp-for ile bu input, modelin Name özelliğine bağlanır. Kullanıcı formu doldurduğunda, bu alandaki değer modelin Name özelliğine aktarılır.*@
            <span asp-validation-for="Name" class="text-danger"></span> @* ASP.NET Core'da bir Tag Helper özelliğidir. Amaç: Modeldeki Name özelliği için herhangi bir doğrulama hatası varsa, bu hatayı göstermek için kullanılır.*@
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control"/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-info form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary form-control">Bact To List</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}